name: Hello World from Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Hello World Docker Container
        run: docker run --rm hello-world

  container-job:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest

    steps:
      - name: Say Hello
        run: echo "Hello from inside Alpine container!"
